
@font-face {
  font-family: "Franklin Gothic Medium";
  src: url(fonts/FranklinGothicMedium.ttf);
}

@font-face {
  font-family: "Franklin Gothic Regular";
  src: url(fonts/FranklinGothicBookRegular.ttf);
}

@font-face {
  font-family: "Gotham Book";
  src: url(fonts/GothamBook.ttf);
}

@font-face {
  font-family: "Gotham Light";
  src: url(fonts/GothamLight.ttf);
}

@font-face {
  font-family: "Gotham Medium";
  src: url(fonts/GothamMedium.ttf);
}

@font-face {
  font-family: "Gotham Bold";
  src: url(fonts/GothamBold.ttf);
}



html {
  height: 100%;
}

body {
  background: rgb(24, 24, 24) url('background.png') no-repeat;
  background-size: cover; 
  color: darkgray;
  font-family: Gotham Book; 
  overflow: auto; 
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  color: white;
}

.container {
  width: 65%;
  text-align: center; 
}

h1 {
  color: white; 
  font-family: Gotham Medium; 
  font-size: 4em; 
}

.subtitle { 
  color: darkgrey; 
  font-size: 1.5em;
  font-family: helvetica; 
  padding-top: 0.2em;
  padding-right: 3.9em; 
  font-family: Gotham Light; 
}

h2 {
  font-size: 2.5em; 
  text-align: center; 
  margin-top: 15%; 
}

.navbar {
  height: 9.0em;
  background: rgba(24, 24, 24, 0.75); 
  padding-left: 2em;
  padding-right: 2em;
}

.navbar-nav {
  margin-left: auto;
}

.nav-item {
  margin-top: 1.2em;
  margin-left: 0.5em; 
  font-size: 2em;
/*  font-family: Gotham Light; */
}

.navbar-bottom {
  margin-top: 3%; 
  margin-left: auto;
}

.navbar-bottom .navbar-nav {
  margin-top: 5em;
}

.nav-item-bottom {
/*  font-family: Gotham Light; */
}

.navbar-bottom-icon {
  opacity: 0.6; 
  height: 1.2em;
  margin-left: 2.5em; 
  margin-right: 0.5em;
}

.lead {
  padding-left: 6%; 
  padding-top: 2.5em; 
}

.location {
  font-family: Gotham Light; 
  font-size: 1.1em;
  padding-top: 15%; 
}

.location-icon {
  height: 0.8em;
  margin-right: 0.3em;
}

.project-image {
  width: 100%;
  margin-top: 1.0em; 
  border-radius: 1.0em;
}

.site-logo { 
  height: 4.5em;
  width: 4.5em;
}

strong {
  font-family: Gotham Book;
/*  font-weight: bold; */
  color: darkgray;
}

.about-icons {
  margin-top: 1em; 
  width: 29em;
}

.about-text {
  font-size: 1.1em; 
}


