
/* Written by Albert Ong
 * 
 * Created: 2022.04.21
 */

@font-face {
  font-family: "Gotham Book";
  src: url(assets/fonts/GothamBook.ttf);
}

@font-face {
  font-family: "Gotham Light";
  src: url(assets/fonts/GothamLight.ttf);
}

@font-face {
  font-family: "Gotham Medium";
  src: url(assets/fonts/GothamMedium.ttf);
}

@font-face {
  font-family: "Gotham Bold";
  src: url(assets/fonts/GothamBold.ttf);
}
